.lists {
    width: 100%;
}
.centralList {
    height: fit-content;
    width: 75%;
    margin: 30px;
}

.watchList {
    padding: 10px;
    padding-left: 30px;
    background-color: lightslategray;
    height: 600px fit-content;
    width: 25%;
    margin-left: 50px;
}