.App {
    display: flex;
    background-color: darkgray;
}

.App-Logo {
    align-content: baseline;
    margin-top: 10px;
    margin-left: 20px;
}

.lists {
    display: flex;
    justify-content: space-evenly;
}
