.App {
    display: flex;
}

.App-Logo {
    margin-top: 50px;
    margin-left: 50px;
    height: 40vmin;
}

.videoList,
.reviewList {
    margin-top: 50px;
    margin-left: 50px;
}

.centralItemList {
    background-color: lightgray;
    padding: 10px;
}
